// COLORS
$primary-color: #cba1ff;
$secondary-color: #98ffe9;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$purple-color: #9e53f8;

$dark-grey: #333333;

$white-color: #ffffff; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
